@import "../../../global.scss";

.objectives {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .inicio{
        display: flex;
        flex-direction: column;
        height: 20%;
        flex-grow: 0;
        h1{
            padding-bottom: 2rem;
            text-align: center;
            color: $mainColor;
        }
    
        text{
            text-align: center;
            padding: 1rem;
            text-align: justify;
            font-size: 1.2em;
            padding: 0 5rem;
        }
    }
    .GridIdeia{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.1em;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: $mainColor;
        flex-grow: 1;
        .item{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
            margin: 1rem;
            background-color: #ffffff;
            cursor: pointer;
            font-weight: 500;
            padding: 2rem 1rem;
            border-radius: 2rem;
            transition: all 0.2s ease;
            &:hover{
                transform: scale(1.1);
            }
            .img{
                padding-bottom: 1rem;
                display: flex;
                justify-content: center;
                flex-grow: 0;
                
                                
            }
            .text{
                display: flex;
                align-items: center;
                flex-grow: 1;
                padding: 1rem;
                text{
                    text-align: justify;
                }
            }
        }
    }
}