@import "../../../global.scss";
.about {
    background-color: $mainColor;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: none;
    @include mobile{
    display: flex;

    }
    .title{
        padding-left: 3rem;
        color: $subColor;
        margin-bottom: 1rem;
    }
    .text{
        padding: 0 2rem;
        box-sizing: inherit;
        font-size: 1.3em;
        text-align: justify;
        color: white;

    }
}