@import "../../global.scss";

.footbar {
    background-color: $mainColor;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

        display: flex;
        .image{
            padding: 1vw 5vw;
            display: flex;
            justify-content: space-between;
            .logo{
                img{
                    width: 5vw;
                    height: 5vw;
                }
            }
            .social{
                display: flex;
                align-items: center;
                a{
                    margin: 1rem;
                }
            }
        }
        .text{
            display: flex;
            padding-bottom: 2vw;
           .left{
            padding: 2vw 5vw;
            font-size: 1.1rem;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            width: 80vw;
           }
           .right{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            flex-grow: 1;
            a{
            text-decoration: none;
            color: white;
            font-weight: 500;
            }
           }
        }
    }
