@import "../../global.scss";

.footbar {
    background-color: $mainColor;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

        display: flex;
        .image{
            padding: 1vw 5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                img{
                    width: 5vw;
                    height: 5vw;
                    @include mobile {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .social{
                display: flex;
                align-items: center;
                @include mobile{
                    margin: 10px;
                }
                a{
                    margin: 1rem;
                    .social-icon{
                        font-size: 30px;
                        @include mobile {
                            font-size: 20px;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .text{
            display: flex;
            padding-bottom: 2vw;
           .left{
            padding: 2vw 5vw;
            font-size: 1.1rem;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            width: 80vw;
            @include mobile{
                display: none;
            }
           }
           .right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            flex-grow: 1;
            @include mobile {
                padding-bottom: 1em;
                flex-direction: row;
                margin-bottom: 1em;
                flex-wrap: wrap;
            }
            a{
            text-decoration: none;
            color: white;
            font-weight: 500;
            @include mobile {
                margin-bottom: 10px;
            }
            }
           }
        }
    }
