@import "../../../global.scss";

.sites {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        color: $mainColor;
        text-align: center;
        flex-grow: 0;
        font-size: 3em;
        @include mobile {
            font-size: 2em;
        }
    }
    .div1 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .ActivityContainer {
            margin: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            @include mobile {
                height: 80%;
            }
            .item {
                width: 20%;
                padding: 1rem;
                border: 1px solid black;
                border-radius: 25px;
                margin: 1rem 1rem;
                transition: all 0.5s ease;
                cursor: pointer;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                @include mobile {
                    width: 40%;
                    height: 40%;
                }
                &:hover{
                    background-color: $mainColor;
                    color: white;
                }
            }
        }
    }
}
