@import "../../global.scss";
.about {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    box-sizing: border-box;
    .title{
        color: $mainColor;
        margin-bottom: 20px;
    }
    .text{
        
        width: calc(100vw - 20rem);
        box-sizing: inherit;
        font-size: 20px;
    }
}