.home{
    background-color: white;
.container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .left{
            font-size: 1.4rem;
            width: 20vw;
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            img{
                width: 50vw;
            }
        }
    }
}
