@import "../../../global.scss";

.modalities {
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    .title{
        padding-left: 3rem;
        color: $subColor;
        flex-grow: 0;
        font-size: 1.4rem;
        margin: 1em;
        height: 10vh;
        padding: 0;
        margin-bottom: 0;
        @include mobile{
            height: 20vh;
        }
    }
    .container{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .text{
            padding: 2rem 5rem;
            box-sizing: inherit;
            font-size: 1.3em;
            text-align: justify;
            @include mobile{
                padding: 1rem 2rem;
                font-size: 1.2em;
            }

            .name{
                font-weight: 500;
                margin: 5px 0;
                color:$subColor;
                font-size: 1em;
            }
            .description{
                color: white;
                font-size: 0.8em;

            }
        }
        .buttons{
            display: flex;
            justify-content: space-around;
            button{
                font-size: 1.2rem;
                font-weight: 500;
                padding: 1rem 4rem;
                background-color: $mainColor;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                border: none;
                &:hover{
                    background-color: $hoverColor;
                }
            }


        }
    }
}